:root{
   --silver:#DFDFDE;
   --light-silver:#F7F5F2;
   --grey-silver:#8D8DAA;
   --pink: rgb(245, 109, 145);
   --montserrat:'Montserrat', sans-serif;
}

body{
   background-color:var(--light-silver);
   box-sizing: border-box;
   
}

section{
   width:90%;
   margin: 0 auto;
   margin-bottom:30px;
}

.header nav{
   background:var(--grey-silver);
   width:100%;
   height:55px;
   margin:0 auto;

   
}

nav{
  
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:end;
   flex-direction: row;
   align-content: space-between;
   position:fixed;
}

nav li{
   
   display:inline;
   margin: 0 15px 0 15px;
   
}

nav li a{
   text-decoration: none;
   font-family: var(--montserrat);
   color:var(--light-silver);
   font-size:25px
}

.banner{
   margin:0 auto;
   height:350px;
   width: 100%;
   
}

.container{
 display: flex;
flex-direction: column;
}



.titulo-principal{
   text-align: center;
   padding: 20px;
   font-size: 2.5em;
   font-family: var(--montserrat);
   text-transform: uppercase;
   color:var(--grey-silver);
   font-weight: bold;
}

p{
   text-align: center;
   font-size: 1.2em;
}

.titulo_produtos, h4,h3, h5,h6{
   text-align: center;
   padding: 20px;
   font-size: 1.5em;
   color:var(--grey-silver);
   text-decoration: none;
   font-family: var(--montserrat);
   text-transform: uppercase;
}

.produtos{
   display: flex;flex-direction: row;
   margin: 0 auto;
}

.produtos p{
   font-size: 1.5em;
   margin: 5px;
}

.produtos li{
   width: 25%;
   margin: 0 auto;
}
.produtos-img{
   width: 100%;
}

.btn{
   padding:2px;
   height:10px;
}
.btn button {
   width: 90%;
   background-color:var(--grey-silver)
}

.btn-whats .img{
   width: 40px;
   justify-content:space-content;
   
}
/*******/
.produtos-img{
   display:flex;
}

.foto-produto {
   width: 20%;
   height: 30%;
}
/********/

.contato{
   display:flex;
   margin-bottom:1rem;
}

.endereco{
   text-align:center;
   width: 60%;
   line-height:1.5;
}

a {
   text-decoration: none;
   color:#000000;
}

footer{
   background-color: var(--grey-silver);

}